@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');


:root{
    --lists-font-color: #acacac;
    --forms-font-color: #585758;
    --background-black: #121212;
    --background-dropdown-menus: rgb(49,49,49);
    --fonts-white-color: #e8e8e8;
    --border-gray-color: rgba(232, 232, 232, 0.1);
    --background-main-content: #242424;
    --grid-column-tasks: 1rem minmax(24rem, 35rem) 8rem 12rem 8rem 8rem 1rem;
    --grid-column-titles: minmax(25rem, 36rem) 8rem 12rem 8rem 9rem;
    --grid-row-size: 2rem;
    --grid-column-gap: 10px;
    --dynamic-background-color: #242424;
    --due-date-red: rgb(255, 76, 118);
    --due-date-yellow: rgb(246, 176, 101);
    --done-background-color: rgb(0, 184, 168)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: #e8e8e8;
    background-color: black;
  }


.main-container{
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
}

.sidebar{
    width: 220px;
    background-color: #121212;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid var(--border-gray-color);
    /* box-shadow: -1px 2px 38px -2px var(--border-gray-color); */
}

.image-brand{
    width: 25px;
    height: auto;
}

.sidebar-brand{
    display: flex;
    flex-direction: row;
    padding: 0 5px;
}

.sidebar-title {
    margin-left: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lists-view{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 56px;
}

.lists-view-title{
    height: 1.6rem;
    width: 90%;
    /* border-bottom: 1px solid rgba(232, 232, 232, 0.1); */
    padding: 0 5px; 
    font-size: 1.3rem;
}

.lists {
    height: 1.6rem;
    margin: 4px 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-size: 1.1rem;
    color: var(--lists-font-color);
}

.list-item{
    flex-grow: 1;
}



.main-content{
    flex-grow: 1;
    background-color: #242424;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.todos-view{
    width: 90%;
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.todos{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    /* width: fit-content; */
    /* grid-template-columns: 1fr 15fr 7fr 7fr 7fr 7fr 1fr; */
    /* grid-template-columns: 1rem minmax(16rem, 25rem) 7fr 8fr 7fr 7fr 1fr; */
    /* grid-template-columns: 1rem minmax(16rem, 25rem) 7rem 8rem 7rem 7rem 1rem; */
    grid-template-columns: var(--grid-column-tasks);
    /* grid-template-rows: 1.6rem; */
    grid-template-rows: var(--grid-row-size);
    border-bottom: 1px solid rgba(232, 232, 232, 0.1);
}

.todos > * {
    align-self: center;
}

.todos-general-titles > :not(:first-child) {
    padding-left: var(--grid-column-gap);
}  


.todos-general-titles {
    display: flex;
    flex-direction: row;
    /* font-weight: 700; */
    /* width: 90%; */
    display: grid;
    /* grid-template-columns: 16fr 7fr 7fr 7fr 8fr; */
    grid-template-columns: var(--grid-column-titles);
    /* grid-template-rows: 1.6rem; */
    grid-template-rows: var(--grid-row-size);
    border-bottom: 1px solid rgba(232, 232, 232, 0.1);
    text-transform: capitalize;
}

.todo-tasks, .todo-lists, .todo-status, .todo-priority, .todo-due-date{
    padding-left: var(--grid-column-gap);
}

.todo-lists, .todo-status{
    /* opacity: 0.7; */
    border-radius: 3px;
    line-height: 1.5rem;
    padding-right: var(--grid-column-gap);
}



.new-task > :not(:first-child){
    padding-left: var(--grid-column-gap);
} 
.new-task > :last-child{
    padding-left: 0
}

.todos-titles{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expand-icon{
    visibility: hidden;
    width: 22px;
    height: auto;
}


.right-arrow{
    width: 12px;
    height: auto;
}


.delete-task, .delete-list{
    width: fit-content;
    background-color: transparent;
    border: none;
    align-self: center;
}

.change-status, .change-priority, .change-list{
    /* display: none; */
    /* width: 100px; */
    /* height: 120px; */
    flex-direction: column;
    position: absolute;
}

.add-new-task{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    width: 90%;
   
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: 1fr 8fr; */
    /* grid-template-columns: 1fr 15fr 7fr 7fr 7fr 7fr 1fr; */
}


.new-task{
    display: grid;
    grid-template-columns: var(--grid-column-tasks);
    /* grid-template-columns: 1rem minmax(16rem, 25rem) 7fr 8fr 7fr 7fr 1fr; */
    /* grid-template-rows: 1.6rem; */
    grid-template-rows: var(--grid-row-size);
    border-bottom: 1px solid var(--border-gray-color);
}

.button-task-text{
    padding-left: var(--grid-column-gap);
}

.open-task-form{
    /* height: 1.6rem; */
    height: var(--grid-row-size);
    width: fit-content;
    margin-top: 4px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.open-task-form, .new-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    /* align-self: flex-start; */
}



.new-list{
    margin-top: 12px;
    padding: 0 5px;
    font-size: 1.1rem;
    color: var(--lists-font-color)
}

.task-form-image{
    width: 12px;
    height: 12px;
    border-radius: 20%;
    /* border: 0.5px solid #e8e8e8; */
    height: auto;
    margin-right: 4px;
}

.check-task{
    width: 12px;
    height: 12px;
    border: 1px solid #e8e8e8;
    background-color: transparent;
    border-radius: 20%;
    padding: 1px;
}

.check-task:hover, .delete-task:hover, .open-task-form:hover, .new-list:hover{
    cursor: pointer;
}



.delete-image{
    width: 12px;
    height: auto;
}

.delete-list-img{
    width: 22px;
    height: auto;
    visibility: hidden;
}


/* ========================= new list form ========================= */

.new-list-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 260px;
    background-color: var(--background-main-content);
    color: #b3b3b3;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    z-index: 1;
    box-shadow: rgba(18, 18, 18, 0.7) 0px 22px 700px 4000px;
    border: 1px solid rgba(232, 232, 232, 0.1)
}

.add-list-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    justify-content: space-evenly;
}

#listName, #listDescription {
    background-color: transparent;
    border: 1px solid rgba(232, 232, 232, 0.1);
    margin-top: 8px;
    color: #e8e8e8;
    height: 2rem;
    padding: 4px 6px;
}

#listDescription{
    height: 4rem;
    border-radius: 5px;
}

.label-input-name, .label-input-description{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.label-input-name{
    margin-top: 12px;
}

.new-list-buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-list-buttons button{
    background-color: transparent;
    color: inherit;
    border: 1px solid rgba(232, 232, 232, 0.1);
    border-radius: 7px;
    padding: 4px;
}

.new-list-form-title{
    width: 90%;
}

textarea{
    outline: none;
}

.name-color{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

#listName{
    width: 88%;
    margin-top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#listColor {
    width: 12%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    height: 2rem;
    padding: 4px 6px;
    border: 1px solid rgba(232, 232, 232, 0.1);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.label-button{
    font-size: 0.7rem;
    border: 1px solid var(--border-gray-color);
    border-radius: 3px;
    padding: 0 2px;
    margin-left: 4px;
}



/* ========================= new list form ========================= */

.clicked{
    background-color: var(--done-background-color);
}

/* edit task */
input[type=text]{
    background-color: var(--background-main-content);
    color: var(--fonts-white-color);
    font-size: 1rem;
    border: 0;
    text-decoration: none;
}

input[type=text]:focus, input[type=number]:focus, select:focus {
    outline: none;
  }

  select {
    /* Reset */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 1.8*var(--cell-size);
    border-radius: 0.25em;
    background-color: var(--background-main-content);
    color: var(--forms-font-color);
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}
select option {
    color: var(--fonts-white-color);
    background-color: var(--background-dropdown-menus);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid rgba(232, 232, 232, 0.1); */
    border: 0px;
    border-radius: 2px;
}
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}

.add-task{
    border: none;
    background-color: transparent;
    color: var(--forms-font-color);
    font-size: 1.5rem;
    font-weight: 700;
    align-self: center;
}

/* edit task */




.expanded-menu, .expanded-filter-menu, .expanded-sort-menu, .change-status-button, .change-list-button, .change-priority-button{
    width: 150px;
    /* width: fit-content; */
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(49 49 49);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid var(--border-gray-color);
    border-radius: 2px;
}

.change-status-button, .change-list-button, .change-priority-button{
    height: 25px;
    line-height: 25px;
    color: var(--fonts-white-color);
}

.expanded-menu button {
    /* width: 70%; */
    height: 25px;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: auto 12px;
    grid-template-rows: auto; */
}

.expanded-filter-menu button, .expanded-sort-menu button {
    height: 25px;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
}

.filter-sort-text{
    
    flex-grow: 1;
    /* height: 25px; */

}

.expanded-menu button:not(:first-child), .expanded-filter-menu button:not(:first-child), .expanded-sort-menu button:not(:first-child)  {
    border-top: 1px solid rgba(232, 232, 232, 0.1)
}

.expanded-filter-menu, .expanded-sort-menu{
    min-width: fit-content;
    width: 150px;
}

.filter-dueDate{
    transform: scale(0.8);
}

.edit-due-date, .new-due-date{
    transform-origin: 0 0;
    transform: scale(0.8);
}


.list-container, .status-container{
    width: 100%;
}

.todo-lists, .todo-status{
    width: fit-content;
}


/* .list-container, .status-container, .priority-container{
    padding-left: var(--grid-column-gap);
} */






/* calendar widget */
.wc-datepicker, .wc-datepicker *, .wc-datepicker *:before, .wc-datepicker *:after, .wc-datepicker__month-select, .sc-wc-datepicker.wc-datepicker__month-select select{
    background-color: #242424;
    color: var(--fonts-white-color);
}
 
.wc-datepicker__current-month > .wc-datepicker__month-select,
.wc-datepicker__current-month > .wc-datepicker__year-select,
.wc-datepicker__header > button{
    background-color: #242424;
    color: var(--fonts-white-color);
}
#datepicker{
    background-color: #242424;
    border: 1px solid rgba(232, 232, 232, 0.1);
    box-shadow: 0px 5px 41px 5px var(--background-black)
}

.wc-datepicker__month-select, .wc-datepicker__year-select{
    transform: scale(1.2);
}
/* calendar widget */






















/* effects */
.lists:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #242424;
    transition: ease 0.05s;
}

.todo-tasks:hover,
.todo-status:hover,
.todo-lists:hover,
.todo-priority:hover,
.todo-due-date:hover,
.list-container:hover,
.status-container:hover{
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(49 49 49);
    transition: ease 0.05s;
    padding: 0 5px;
}

.todo-tasks:hover{
    cursor: text;
}

.add-task:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

#listName:focus, #listDescription:focus{
    /* border: 2px solid rgba(232, 232, 232, 0.1);   */
    border: 2px solid rgb(94,94,94);  
}

.border-right-titles{
    border-right: 1px solid rgba(232, 232, 232, 0.1)
}

.delete-image-img-hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.05s;
}

.image-visible{
    visibility: visible;
}

.expand-icon-effect{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease 0.05s;
}


.open-task-form::after{
    content: "";
    position: absolute;
    top: calc(var(--y, 0) * 1px - 50px);
    left: calc(var(--x, 0) * 1px - 50px);
    width: 150px;
    height: 100px;
    border-radius: 70%;
    /* background: radial-gradient(white, #3984ff00 80%); */
    /* background: linear-gradient(in hsl longer hue 45deg, red 0 0); */
    background: linear-gradient(
        67deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 15%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 85%,
        rgba(255, 0, 0, 1) 90%
    );
    opacity: 0;
    transition: opacity 0.2s;
}

.open-task-form:hover::after{
    opacity: 0.2;
}

.open-task-form:hover{
    background-color: rgb(49 49 49);
}


.done{
    text-decoration: line-through;
    font-style: italic;
    color: rgb(144, 144, 144)
}
/* effects */