@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: #e8e8e8;
    background-color: black;
  }

.main-container{
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
}

.sidebar{
    width: 280px;
    background-color: #121212;
    padding: 12px;
}

.image-brand{
    width: 25px;
    height: auto;
}

.sidebar-brand{
    display: flex;
    flex-direction: row;
}

.main-content{
    flex-grow: 1;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todos-view{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.todos{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 15fr 6fr 6fr 6fr 6fr 1fr;
    grid-template-rows: 1.6rem;
    border-bottom: 1px solid rgba(232, 232, 232, 0.1);
}

.todos > * {
    align-self: center;
}

/* .todos > *, .todos-general-titles > *{
    width: 5rem;
} */

/* .todo-tasks, #todosTasksTitle{
    width: 14rem;
} */

.todo-status, .todo-list, .todo-priority, .todo-due-date{
    justify-self: flex-start;
}

.todos-general-titles {
    display: flex;
    flex-direction: row;
    /* font-weight: 700; */
    /* width: 90%; */
    display: grid;
    grid-template-columns: 16fr 6fr 6fr 6fr 7fr;
    grid-template-rows: 1.6rem;
    border-bottom: 1px solid rgba(232, 232, 232, 0.1);
    text-transform: capitalize;
}

.delete-task{
    width: fit-content;
    background-color: transparent;
    border: none;
    align-self: center;
}

.change-status, .change-priority, .change-list{
    /* display: none; */
    width: 100px;
    height: 120px;
    flex-direction: column;
    position: absolute;
}

.add-new-task{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 1.6rem;
    /* display: grid;
    grid-template-columns: 1fr 8fr; */
}

.open-task-form, .new-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    /* align-self: flex-start; */
}

.task-form-image{
    width: 12px;
    height: 12px;
    border-radius: 20%;
    /* border: 0.5px solid #e8e8e8; */
    height: auto;
    margin-right: 4px;
}

.check-task{
    width: 12px;
    height: 12px;
    border: 1px solid #e8e8e8;
    background-color: transparent;
    border-radius: 20%;
    padding: 1px;
}

.check-task:hover, .delete-task:hover, .open-task-form:hover, .new-list:hover{
    cursor: pointer;
}

.clicked{
    background-color: aqua;
}

.delete-image{
    width: 12px;
    height: auto;
}

.new-list {
    margin-top: 24px;
}

.new-list-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 300px;
    background-color: #121212;
    color: #e8e8e8;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.add-list-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    justify-content: space-evenly;
}

.add-list-form input {
    background-color: transparent;
    border: 1px solid rgba(232, 232, 232, 0.1);
    border-radius: 5px;
    margin-top: 8px;
}

.new-list-buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-list-form-title{
    width: 90%;
}