@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    color: #e8e8e8;
    background-color: black;
  }

.main-container{
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
}

.sidebar{
    width: 220px;
    background-color: #121212;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.image-brand{
    width: 25px;
    height: auto;
}

.sidebar-brand{
    display: flex;
    flex-direction: row;
}

.sidebar-title {
    margin-left: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lists-view{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 56px;
}

.lists-view-title{
    height: 1.6rem;
    width: 70%;
    border-bottom: 1px solid rgba(232, 232, 232, 0.1); 
}

.lists {
    height: 1.6rem;
    margin: 4px 0;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.list-item{
    flex-grow: 1;
}

.new-list {
    margin-top: 12px;
}

.main-content{
    flex-grow: 1;
    background-color: #242424;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.todos-view{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.todos{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 15fr 7fr 7fr 7fr 7fr 1fr;
    grid-template-rows: 1.6rem;
    border-bottom: 1px solid rgba(232, 232, 232, 0.1);
}

.todos > * {
    align-self: center;
}

/* .todos > *, .todos-general-titles > *{
    width: 5rem;
} */

/* .todo-tasks, #todosTasksTitle{
    width: 14rem;
} */

.todo-status, .todo-list, .todo-priority, .todo-due-date{
    justify-self: flex-start;
}

.todos-general-titles {
    display: flex;
    flex-direction: row;
    /* font-weight: 700; */
    /* width: 90%; */
    display: grid;
    grid-template-columns: 16fr 7fr 7fr 7fr 8fr;;
    grid-template-rows: 1.6rem;
    border-bottom: 1px solid rgba(232, 232, 232, 0.1);
    text-transform: capitalize;
}

.todos-titles{
    display: flex;
    flex-direction: row;
}

.expand-icon{
    width: 22px;
    height: auto;
}


.right-arrow{
    width: 12px;
    height: auto;
}


.delete-task, .delete-list{
    width: fit-content;
    background-color: transparent;
    border: none;
    align-self: center;
}

.change-status, .change-priority, .change-list{
    /* display: none; */
    width: 100px;
    height: 120px;
    flex-direction: column;
    position: absolute;
}

.add-new-task{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 1.6rem;
    /* display: grid;
    grid-template-columns: 1fr 8fr; */
}

.open-task-form, .new-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    /* align-self: flex-start; */
}

.task-form-image{
    width: 12px;
    height: 12px;
    border-radius: 20%;
    /* border: 0.5px solid #e8e8e8; */
    height: auto;
    margin-right: 4px;
}

.check-task{
    width: 12px;
    height: 12px;
    border: 1px solid #e8e8e8;
    background-color: transparent;
    border-radius: 20%;
    padding: 1px;
}

.check-task:hover, .delete-task:hover, .open-task-form:hover, .new-list:hover{
    cursor: pointer;
}



.delete-image, .delete-list-img{
    width: 12px;
    height: auto;
}



.new-list-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 300px;
    background-color: #121212;
    color: rgba(232, 232, 232, 0.1);
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    z-index: 1;
    box-shadow: rgba(198, 188, 188, 0.56) 0px 22px 700px 4000px;
}

.add-list-form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 200px;
    justify-content: space-evenly;
}

.add-list-form input {
    background-color: transparent;
    border: 1px solid rgba(232, 232, 232, 0.1);
    border-radius: 5px;
    margin-top: 8px;
    color: #e8e8e8;
}




.new-list-buttons{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-list-form-title{
    width: 90%;
}



.clicked{
    background-color: aqua;
}

#mainContainer .blur{
    position: relative;
    z-index: 0;

    backdrop-filter: blur(100px);
}




.expanded-menu, .expanded-filter-menu, .expanded-sort-menu{
    width: 150px;
    /* width: fit-content; */
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(49 49 49);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid rgba(232, 232, 232, 0.1);
    border-radius: 2px;
}

.expanded-menu button {
    /* width: 70%; */
    height: 25px;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: auto 12px;
    grid-template-rows: auto; */
}

.expanded-filter-menu button, .expanded-sort-menu button {
    height: 25px;
    color: #e8e8e8;
    background-color: transparent;
    border: none;
}

.filter-sort-text{
    
    flex-grow: 1;
    /* height: 25px; */

}

.expanded-menu button:not(:first-child), .expanded-filter-menu button:not(:first-child), .expanded-sort-menu button:not(:first-child)  {
    border-top: 1px solid rgba(232, 232, 232, 0.1)
}

.expanded-filter-menu, .expanded-sort-menu{
    min-width: fit-content;
    width: 150px;
}

.filter-dueDate{
    transform: scale(0.8);
}

.edit-due-date, .new-due-date{
    transform-origin: 0 0;
    transform: scale(0.8);
}

/* calendar widget */


.date-picker.sc-wc-datepicker-h.sc-wc-datepicker-s{
    
    border: 1px solid #e8e8e8;
}
/* calendar widget */